.container {
  background-color: #eaecf7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin: 2em;
  padding: 2em;
  box-shadow: 3px 3px 15px 0 #dadada;
}

.team-container {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
    padding: 4em;
    width: 50%;
    overflow: hidden;
    box-shadow: 3px 3px 15px 0 #dadada;
  }
}
